.sidebar-comments {
    &__list {
        list-style-type: none;
        margin-top: 24px;

        li {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
