@import "popular";

.sidebar {
    @media screen and (max-width: 1023px) {
        display: none;
    }

    &__item {
        padding: 20px;
        border-radius: 10px;
        background: #e7f3f9;
    }

    &__title {
        display: flex;
        justify-content: space-between;

        &-text {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.26px;
            color: #0e0e0f;
        }

        &-icon {
            width: 15px;

            svg {
                width: 100%;
            }
        }
    }
}
