.sidebar-popular {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .article-mini {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
