.a-gallery {
    &__images {
        display: grid;
        grid-gap: var(--spacer);
        padding: var(--spacer);
        grid-template-columns: 1fr;

        @media screen and (min-width: 520px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 1220px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media screen and (min-width: 1920px) {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
