.form-input {
    outline: none;
    width: 100%;
    border: 1px solid var(--secondary-4);
    padding: var(--spacing-8) var(--spacing-12);
    letter-spacing: -0.13px;
    font: 400 15px var(--font-family-base);
    border-radius: var(--radius-8);
    min-height: 48px;
    background: var(--light);
    color: var(--secondary-8);
    resize: none;
    transition: box-shadow ease 200ms, border-color ease 200ms;

    &:focus {
        box-shadow: 0 0 0 1px var(--primary);
        border-color: var(--primary);
    }
}
