.article-card {
    &__title {
        display: inline-flex;
        font-weight: 800;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: -0.74px;
        color: #0e0e0f;
    }

    &__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.26px;
        color: #0e0e0f;
    }
}
