.button {
    outline: none;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 8px;

    &_primary {
        color: #fff;
        background-color: var(--secondary-7);

        &:hover {
            background-color: var(--secondary-6);
        }
    }

    &_light {
        border-radius: 10px;
        border: 1px solid var(--secondary-3);
        color: var(--secondary-6);
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--secondary-1);
        }
    }

    &_medium {
        padding: 8px 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &_mini {
        padding: 4px 8px;
        font-size: 14px;
        line-height: 20px;
    }

    &_large {
        padding: 12px 20px;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 24px;
    }
}
