* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.container {
    max-width: 1184px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1214px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

body {
    position: relative;

    &::before {
        content: '';
        position: fixed;
        z-index: 7;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        background: rgba(43, 45, 54, 0.8);
        transition: all 0.3s;
        visibility: hidden;
        pointer-events: none;
    }

    &.overlay {
        overflow: hidden;

        &::before {
            opacity: 1;
            visibility: visible;
            pointer-events: none;
        }
    }
}

a {
    text-decoration: none;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-column-gap: 32px;

    @media screen and (max-width: 1023px) {
        grid-template-columns: 1fr;
    }
}

.mrgn12 {
    margin-top: 12px;
    margin-bottom: 12px;

    &-top {
        margin-top: 12px;
    }

    &-bottom {
        margin-bottom: 12px;
    }
}

.mrgn16 {
    margin-top: 16px;
    margin-bottom: 16px;

    &-top {
        margin-top: 16px;
    }

    &-bottom {
        margin-bottom: 16px;
    }
}

.mrgn24 {
    margin-top: 24px;
    margin-bottom: 24px;

    &-top {
        margin-top: 24px;
    }

    &-bottom {
        margin-bottom: 24px;
    }
}
