.text {
    &_normal {
        font-weight: 500;
    }

    &_medium {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.13px;
    }

    &_bold {
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -0.53px;
    }

    &_small {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.04px;
    }

    &_big {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.26px;
    }

    &_link {
        color: var(--link-color);
        transition: color ease 200ms;

        &:hover {
            color: var(--link-color-hover);
        }
    }
    &_center {
        text-align: center;
    }
}
