.auth-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        overflow-y: auto;
        transform: translate(-50%, -50%);
    }
}
