.article-discuss {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        fill: var(--secondary-6);
    }

    &__link {
        padding: 6px 8px;
        border: none;
        background: none;
        border-radius: 6px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.13px;
        font-weight: 500;
        color: var(--secondary-6);

        &-message {
            padding-left: 0;
            margin-right: 8px;

            &:hover {
                background: none;
                color: var(--primary-6);

                .article-discuss__icon {
                    fill: var(--primary-6);
                }
            }
        }

        &-bookmark {
            &:hover {
                background: var(--secondary-1);
            }

            .article-discuss__icon {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
        }
    }
}
