.article-mini {
    display: flex;
    flex-direction: column;

    &__title {
        text-decoration: none;
        color: var(--secondary-9);
        margin-bottom: 12px;

        &:hover {
            color: var(--link-color-hover);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__discuss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: var(--secondary);

        &:hover {
            color: var(--link-color-hover);

            svg {
                fill: var(--link-color-hover);
            }
        }

        &-title {
            margin-left: 4px;
            font-weight: 500;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: var(--secondary);
        }
    }

    &__date {
        color: var(--secondary);
        font-weight: 500;
    }
}
